body, html, main {
    height: 100%;
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
div.transbox {
    margin: 20px;
    margin-top: 100px;
    margin-bottom: 0px;
    background-color: rgba(255, 255, 255, 0.9);
}
div.transbox p {
    color: #000000;
}
div#imageProfile{
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    background-image: url("../images/about_us/Louis_large.png");
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}
input.profileSmall {
    opacity: 1;
}
/*input.profileSmall:hover {
    -webkit-filter: brightness(150%);
}*/
ul.profiles {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
ul.profiles li {
    display: inline-block;
    margin: 0 1em 1em 0;
    position: relative;
}
span.initials {
    color: black;
    cursor: pointer;
    display: table;
    left: 15px;
    position: absolute;
    top: 15px;
    opacity: 0;
    font-size: x-large;
}
ul.profiles li.profileSelect:hover input.profileSmall {
    -webkit-filter: brightness(150%);
}
ul.profiles li.profileSelect:hover span.initials {
    opacity: 1;
}
ul.profiles li.profileSelect.active input.profileSmall {
    -webkit-filter: brightness(150%);
}
ul.profiles li.profileSelect.active span.initials {
    opacity: 1;
}
.button {
    width: 200px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: rgba(255,255,255,0.9);
    text-align: center;
    margin: 20px auto;
    font-size: 10pt;
    padding: 14px 17.5px;
    border: 2px solid rgba(255,255,255,0.9);
    text-decoration: none;
    display: inline-block;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;

    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.button:hover {
    color: #343c42;
    background-color: #ffffff;
}

/*background.php*/
span.virtueSelect {
    color: black;
    font-size: 14pt;
}
span.virtueSelect:hover {
    color: red;
}
span.virtueSelect.active {
    color: red;
}

.about-us-content-row {
    margin-bottom: 20px;
}

.about-us-sm10-bio{
    margin-bottom: 25px;
    margin-top: 25px;
}

#about-us-person {
    align: left;
    text-align: left;
    font-size: 16pt;
}

#about-us-university {
    text-align: left;
    font-size: 12pt;
}

#about-us-dept {
    text-align: left;
    font-size: 12pt;
}
