@media (max-width: 992px) {
  html #planColor, html #whoColor, html #quoteColor, html #footerColor, html #vidWords, html #playRow, html #choiceRow, html .nav {
    display: none;
  }
  html #videoContainer {
    width: 100%;
    height: 100vh;
    background-size: cover;
  }
  html #videoContainer #mobLogo {
    display: block;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    width: 100%;
    top: 20%;
  }
  html #videoContainer #mobLogoPic {
    width: 100%;
  }
  html #mobBtnRow {
    display: block !important;
    position: absolute;
    text-align: center;
    top: 60%;
    left: 0;
    right: 0;
    margin: auto;
  }
  html #mobLink {
    text-decoration: none;
  }
  html #mobBtn {
    width: 100%;
    padding: 10px;
    color: #bedbdb;
    border: 2px solid #bedbdb;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: normal;
    font-size: 20px;
  }
  html #mobBtn:hover {
    color: #fff;
    background-color: #91c5c5;
    font-weight: normal;
  }
  html #mobFooter {
    display: block;
    position: absolute;
    bottom: 3%;
    left: 5%;
  }
  html #mobFooter p {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 14px;
  }
  html #myModal .rightSide {
    border-left: 0;
  }
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

nav.nav {
  background-color: transparent;
  width: 100%;
  position: absolute;
  z-index: 10;
}
nav.nav.past-main {
  position: fixed;
  top: 0;
  background-color: #3d3d3d;
  transition: top .3s;
}
nav.nav.expand {
  position: fixed;
  top: -120px;
  color: #444;
  background-color: #3d3d3d;
  transition: top .3s;
}
nav.nav #navRow {
  margin: 28px 0 14px 0;
}
nav.nav #navRow #navLogo {
  width: 200px;
}
nav.nav #navRow ul#navList {
  text-align: right;
  margin: 5px 0 0 0;
}
nav.nav #navRow ul#navList:after {
  content: '';
  display: inline-block;
  width: 100%;
}
nav.nav #navRow ul#navList li {
  display: inline-block;
  list-style-type: none;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
  outline: 0px !important;
  margin-right: 30px;
  -webkit-appearance: none;
}
nav.nav #navRow ul#navList li a:link, nav.nav #navRow ul#navList li a:visited, nav.nav #navRow ul#navList li a:active {
  color: #fff;
  transition: all .3s;
  text-decoration: none;
}
nav.nav #navRow ul#navList li a.signIn {
  padding: 8px;
  border: 1px solid #fff;
}
nav.nav #navRow ul#navList li a.signIn:focus {
  outline: none;
  border: 1px solid #fff;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
nav.nav #navRow ul#navList li:last-of-type {
  margin-right: 0;
}
nav.nav #navRow ul#navList li:hover {
  cursor: pointer;
}
nav.nav #navRow ul#navList li:hover a {
  color: #e0622b;
}
nav.nav #navRow ul#navList li:hover a.signIn {
  border: 1px solid #e0622b;
}

.colorBlock {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: visible;
}
.colorBlock#planColor {
  background-color: #fff;
  box-shadow: 0px 4px 40px -12px #3d3d3d;
  z-index: 3;
}
.colorBlock#whoColor {
  background-color: rgba(145, 197, 197, 0.3);
  -webkit-box-shadow: 0px 4px 40px -12px #3d3d3d;
  -moz-box-shadow: 0px 4px 40px -12px #3d3d3d;
  box-shadow: 0px 4px 40px -12px #3d3d3d;
  z-index: 6;
}
.colorBlock#reviewColor {
  background-color: #3d3d3d;
}
.colorBlock#quoteColor {
  background-color: #e0622b;
  -webkit-box-shadow: 0px 4px 40px -12px #3d3d3d;
  -moz-box-shadow: 0px 4px 40px -12px #3d3d3d;
  box-shadow: 0px 4px 40px -12px #3d3d3d;
  z-index: 9;
}
.colorBlock#footerColor {
  background-color: #fff;
}

#videoContainer {
  margin: 0;
  padding: 0;
  width: 100%;
  background-image: url("../../img/site/webbg.png");
  background-color: #3d3d3d;
  background-size: 100% auto;
}
#videoContainer h2 {
  margin: 0px auto;
  width: 250px;
  text-align: center;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 26px;
  color: #fff;
  font-weight: lighter;
}
#videoContainer #vidWords {
  margin: 140px 0 60px 0;
}
#videoContainer #vidWords ul#cyclelist {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 70px;
  text-align: right;
}
#videoContainer #vidWords ul#cyclelist li {
  font-size: 70px;
  opacity: 0;
  position: absolute;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: lighter;
  list-style: none;
  text-align: right;
  width: 100%;
  padding-right: 20px;
}
#videoContainer #vidWords #vidHeader {
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-weight: lighter;
  width: 100%;
  font-size: 70px;
  float: left;
  margin: 10px 0px;
}
#videoContainer #mobLogo, #videoContainer #mobBtnRow {
  display: none;
}
#videoContainer #playRow .playBtn {
  width: 46px;
  position: absolute;
  text-align: center;
  margin: 10px auto 20px auto;
  left: 0;
  right: 0;
  display: block;
  box-shadow: #000 0em 0em 0em;
  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}
#videoContainer #playRow .top:hover {
  opacity: 0;
  cursor: pointer;
}
#videoContainer #main {
  height: 70px;
}
#videoContainer #choiceRow {
  margin: 100px 0 100px 0;
}
#videoContainer #choiceRow .choices {
  padding: 0;
}
#videoContainer #choiceRow a {
  text-decoration: none;
}
#videoContainer #choiceRow #createChoiceBtn {
  padding: 10px;
  text-align: center;
  margin: 0px auto;
  color: #e0622b;
  border: 2px solid #e0622b;
  font-family: "Roboto Slab", sans-serif;
  font-weight: normal;
  font-size: 20px;
  width: 340px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all .5s;
}
#videoContainer #choiceRow #createChoiceBtn:hover {
  color: #fff;
  background-color: #e0622b;
  font-weight: normal;
}
#videoContainer #choiceRow #takeChoiceBtn {
  padding: 10px;
  text-align: center;
  margin: 0px auto;
  color: #91c5c5;
  border: 2px solid #91c5c5;
  font-family: "Roboto Slab", sans-serif;
  font-weight: normal;
  font-size: 20px;
  width: 340px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all .5s;
}
#videoContainer #choiceRow #takeChoiceBtn:hover {
  color: #fff;
  background-color: #91c5c5;
  font-weight: normal;
}

#planColor #plansContainer {
  background-color: #ffffff;
  padding-bottom: 40px;
}
#planColor #plansContainer .col-sm-3, #planColor #plansContainer .noPadding {
  padding: 0;
}
#planColor #plansContainer #planHeader #planHeaderText {
  text-align: center;
  font-family: "Roboto Slab", sans-serif;
  font-weight: lighter;
  color: #3d3d3d;
  padding-bottom: 10px;
  border-bottom: 1px solid #adadad;
  margin: 40px 0px 20px 0px;
}
#planColor #plansContainer #popularContainer {
  width: 100%;
}
#planColor #plansContainer #popularContainer #popular {
  font-size: 24px;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: lighter;
  color: #e0622b;
}
#planColor #plansContainer .headerPanel {
  width: 100%;
  background-color: #fff;
  margin: 0;
}
#planColor #plansContainer .planName {
  text-align: center;
  font-size: 24px;
  font-family: "Lato", sans-serif;
  color: #3d3d3d;
  font-weight: lighter;
  margin: 0px;
  padding: 20px 0px;
}
#planColor #plansContainer .pricePanel {
  padding: 14px 0;
}
#planColor #plansContainer .basic .pricePanel {
  background-color: rgba(145, 197, 197, 0.3);
}
#planColor #plansContainer .plus .pricePanel {
  background-color: rgba(145, 197, 197, 0.4);
}
#planColor #plansContainer .business .pricePanel {
  background-color: rgba(145, 197, 197, 0.5);
}
#planColor #plansContainer .enterprise .pricePanel {
  background-color: rgba(145, 197, 197, 0.6);
}
#planColor #plansContainer .price {
  text-align: center;
  font-family: "Lato", sans-serif;
  color: #3d3d3d;
  font-size: 34px;
  font-weight: lighter;
  margin: 0px;
}
#planColor #plansContainer .per {
  text-align: center;
  font-family: "Lato", sans-serif;
  color: #3d3d3d;
  font-size: 14px;
  font-weight: lighter;
  margin-top: 10px;
  margin-bottom: 0px;
}
#planColor #plansContainer .lower {
  margin-top: 10px;
}
#planColor #plansContainer .higher {
  padding-top: 30px;
}
#planColor #plansContainer .planPanel {
  border-left: 2px solid #3d3d3d;
  border-top: 2px solid #3d3d3d;
  border-bottom: 2px solid #3d3d3d;
}
#planColor #plansContainer .popPanel {
  border-right: 2px solid #3d3d3d;
}
#planColor #plansContainer .lessPanel {
  border-left: none;
}
#planColor #plansContainer .planPanel.rightPanel {
  border-right: 2px solid #3d3d3d;
}
#planColor #plansContainer .listGroup {
  padding: 0px 0px;
  width: 100%;
}
#planColor #plansContainer .listGroup .item {
  list-style: none;
  font-family: "Lato", sans-serif;
  font-weight: lighter;
  font-size: 16px;
  color: #3d3d3d;
  text-align: center;
  margin: 0 auto;
  padding: 10px 0px;
  width: 70%;
  border-bottom: 1px solid #cecece;
}
#planColor #plansContainer .planLink:hover {
  text-decoration: none;
}
#planColor #plansContainer .planBtn {
  width: 100%;
  color: #3d3d3d;
  font-family: "Roboto Slab", sans-serif;
  font-weight: lighter;
  font-size: 24px;
  text-align: center;
  padding: 14px 0px;
  background-color: rgba(145, 197, 197, 0.3);
  -o-transition: color .2s ease-out, background .2s ease-in;
  -ms-transition: color .2s ease-out, background .2s ease-in;
  -moz-transition: color .2s ease-out, background .2s ease-in;
  -webkit-transition: color .2s ease-out, background .2s ease-in;
  transition: color .2s ease-out, background .2s ease-in;
}
#planColor #plansContainer .planBtn:hover {
  background-color: rgba(224, 98, 43, 0.5);
}

#whoWeAreContainer img {
  width: 70%;
  min-width: 120px;
  display: block;
  margin: 24px auto 20px auto;
}
#whoWeAreContainer #whoWeAreText {
  color: #e0622b;
  text-align: center;
  font-family: "Roboto Slab", sans-serif;
  font-weight: lighter;
  padding-bottom: 10px;
  border-bottom: 1px solid #adadad;
  margin: 40px 0px 20px 0px;
}
#whoWeAreContainer .aboutUsText {
  color: #3d3d3d;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  font-size: 24px;
}
#whoWeAreContainer .personnel, #whoWeAreContainer #louisPic, #whoWeAreContainer #sangPic, #whoWeAreContainer #michaelPic {
  text-align: center;
}
#whoWeAreContainer .nameText {
  font-weight: normal;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 20px;
  color: #e0622b;
  text-align: center;
  margin: 0px 0px 4px 0px;
  display: block;
}
#whoWeAreContainer .positionText {
  font-weight: lighter;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 20px;
  color: #e0622b;
  text-align: center;
  margin: 0px 0px 80px 0px;
  display: block;
}

#quoteContainer {
  padding: 60px 0 100px 0;
}
#quoteContainer #quoteBox {
  text-align: center;
  position: relative;
  width: 100%;
}
#quoteContainer #quoteBG {
  width: 100%;
  position: relative;
}
#quoteContainer #quoteList {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0px auto;
}
#quoteContainer #quoteList li {
  position: absolute;
  list-style: none;
  text-align: center;
  width: 100%;
  left: 0;
  margin: 0px auto;
  opacity: 0;
}
#quoteContainer .quoteIMG {
  position: absolute;
  list-style: none;
  text-align: center;
  width: 100%;
  left: 0;
  margin: 0px auto;
}

#footerContainer {
  background-color: #fff;
  height: 140px;
}
#footerContainer p {
  margin: 60px 0px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: #3d3d3d;
}
#footerContainer p span {
  margin-right: 15px;
}
#footerContainer p a {
  cursor: pointer;
  text-decoration: none;
}

#mobFooter {
  display: none;
}

#myModal #flash, #forgotModal #flash {
  margin-top: 30px;
}
#myModal .rightSide, #forgotModal .rightSide {
  border-left: 1.4pt solid rgba(50, 50, 50, 0.6);
}
#myModal form h3, #forgotModal form h3 {
  font-family: "Roboto Slab", sans-serif;
  color: #3d3d3d;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}
#myModal form .form-control, #forgotModal form .form-control {
  font-family: "Lato", sans-serif;
  color: #e0622b;
  font-weight: lighter;
}
#myModal form .form-control:focus, #forgotModal form .form-control:focus {
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
#myModal form #forgot, #forgotModal form #forgot {
  color: rgba(50, 50, 50, 0.6);
  transition: all .3s;
}
#myModal form #forgot:hover, #forgotModal form #forgot:hover {
  color: #e0622b;
  text-decoration: none;
}
#myModal form button[type='submit'], #forgotModal form button[type='submit'] {
  border: solid 1.4pt rgba(50, 50, 50, 0.6);
  border-radius: 3px;
  color: rgba(50, 50, 50, 0.6);
  font-size: 18px;
  background-color: transparent;
  font-family: "Lato", sans-serif;
  font-weight: lighter;
  margin-bottom: 10px;
  -webkit-transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
  -moz-transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
  -o-transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
  transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
}
#myModal form button[type='submit']:hover, #forgotModal form button[type='submit']:hover {
  border-color: #e0622b;
  background-color: transparent;
  color: #e0622b;
  font-weight: lighter;
}