html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    color: white;
}

@font-face {
	font-family: 'BTClassic';
	src: url('BTLogo_old.ttf') format('truetype');
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0; /* Specify a stack order in case you're using a different order for other elements */
}

#main {
    color: white;
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
}