@font-face {
	font-family: "Blair ITC";
	src: url("fonts/blairITC.otf");
	src: url("fonts/blairITC.otf") format("opentype");
}

@font-face {
	font-family: "Rubik";
	src: url("fonts/Rubik-Regular.ttf");
	src: url("fonts/Rubik-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Montserrat";
	src: url("fonts/Montserrat-Regular.ttf");
	src: url("fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Petyka";
	src: url("fonts/Petyka.ttf");
	src: url("fonts/Petyka.ttf") format("truetype");
}
	
html, body {
    margin: 0px;
    padding: 0px;
	background-color: white;
	scroll-behavior: smooth;
}

#navbar {
	transition: all .3s ease-in-out;
}
.navbar {
	width: 100%;
	position: fixed;
    top: 0;
    z-index: 10;
	background-color: transparent;
}

#frontpage {
	background-image: url("whitesandsnm_hdr.jpg");
	background-repeat: no-repeat;
	background-position: center;
    background-attachment: fixed;
}

.navbar-brand {
	font-family: 'Blair ITC';
	color: lightseagreen;

}
.nav-link {
	font-family: 'Blair ITC';
	color: lightseagreen;
}

.nav-link:hover {
	border-bottom: 2px solid black;
}

.active {
	border-bottom: 2px solid black;
}


li.nav-item {
    margin: 5px 12px;
}
ul {
	margin: auto;
}

/******OPENING QUOTE******/
.openingQuote {
    color: black;
    font-family: 'Times New Roman', Times, serif
}

#quoteAnimation1 {
	opacity: 0;
	animation: cinematicFadeIn 2s linear;
	animation-delay: 0.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
#quoteAnimation2 {
	opacity: 0;
	animation: cinematicFadeIn 2s linear;
	animation-delay: 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
#quoteAnimation3 {
	opacity: 0;
	animation: cinematicFadeIn 2s linear;
	animation-delay: 4.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
#quoteAnimation4 {
	opacity: 0;
	animation: cinematicFadeIn 2s linear;
	animation-delay: 6s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
#quoteAnimation5 {
	opacity: 0;
	animation: cinematicFadeIn 2s linear;
	animation-delay: 7.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
#quoteAnimation6 {
	opacity: 0;
	animation: cinematicFadeIn 2s linear;
	animation-delay: 9s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.typeBox {
	padding-top:60vh;
	margin: auto;
	margin-left: 15%;
	align-items: flex-start;
	width: 30%;
}

@keyframes cinematicFade {
	/*0%,100% { opacity: 1 }
	50% { opacity: 1 }*/
	0% { opacity: 0 }
	100% {opacity: 1}
}


/*********** header *********/
.headerBox {
	position: absolute;
    top: 0;
    right: 0;
    z-index: 1099;
    width: 100%;
}

.headerBox span {
	display: inline-block;
	color: white;
}

.headerBox a {
	display: inline-block;
	color: lightseagreen;
}

.header-li {
	font-size: 16pt;
	margin: 60px 60px;
	list-style: none;
	color: lightseagreen;
	letter-spacing: 3px;
	font-family: 'Blair ITC';
}

.subheader-li {
	font-size: 12pt;
}

.typewriter h3, .typewriter p {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .15em solid lightseagreen; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
	animation: 
	  delay 8s,
	  typing 3.5s steps(40, end),
	  blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
	from { width: 0 }
	to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: lightseagreen; }
  }

  #content {
	background-color: transparent;
	width: 100%;
	z-index: 999;
}

.fieldsection {
	height: 100vh;
}

.imagePanel {
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

.img-fluid {
	width: 100%;
}
/*.section {
	padding: 40px 160px;
}*/

/********** project box ********/
.projectbox {
	/*max-width: 850px;
	max-height: 400px;
	margin: auto;
    display: flex;
	*/
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 3px hsla(0,0%,71.4%,.5);
    cursor: pointer;
	transition: all .4s ease-in-out;
	/*font-family: 'Blair ITC';*/
	margin-bottom: 20px;
}

.projectbox:hover, .gameprojectbox:hover {
	-webkit-transform: scale(1.02);
    transform: scale(1.02);
    box-shadow: 0 3px 15px hsla(0,0%,71.4%,.5);
}

.box-right {
	/*overflow: hidden;
	width: 50%;*/
}

.thumbnail {
    background-repeat: no-repeat;
    background-size: contain;
	transition: all .4s ease-in-out;
	width: 100%;
}
.box-left {
	padding: 25px 35px;
	/*
	width: 50%;*/
	box-sizing: border-box;
}

.date {
	font-family: 'Times New Roman', Times, serif;
	margin-top: 0;
	font-weight: 500;
    opacity: .4;
    margin-bottom: 1px;
    letter-spacing: .3px;
}

.title {
	font-family: 'Blair ITC';
	letter-spacing: .5px;
	/*font-weight: 700;*/
	margin-top: 0;
}

.description {
	font-family: 'Times New Roman', Times, serif;

	margin-bottom: 10px;
	font-size: 18px;
}


/*********** about *************/

#about {
	background-color: white;
	min-height: 100vh;
	padding-top: 10vh;
}
#aboutimage {
	/*
	background-image: url("morningnews.jpg");
	height: 80vh;*/
}

#aboutInfoPanel {
	color: black;
    margin: auto;
}

#aboutText {
	margin: auto;
	padding: 20px 30px;
}

.offset1 {
	margin-top: 25px;
}

#techrow {
	margin-bottom: 10vh;
}

#techbox {
	/*min-height: 80vh;*/
	color: #60be86;
}

.devicon {
	padding: 20px 0 0;
    display: block;
	font-size: 40pt
}
#techboxheader {
	font-family: 'Blair ITC';
	border-bottom: 2px solid grey;
	margin-top: 40px;
	text-align: center;
}

.iconbox {
	border: 2px solid #60be86;
	border-radius: 10px;
	text-align: center;
}

.iconbox h3 {
	margin: 20px 0 10px;
    padding: 20px 0 0;
    font-size: 1em;
    position: relative;
}



/******* web projects *******/
#webprojects {
	min-height: 100vh;
	padding-top: 10vh;
	background-image: url("officeview.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

/******* robotics *********/
#robotics {
	min-height: 100vh;
	padding-top: 10vh;
	background-image: url("chalkboard.jpg");
	background-repeat: no-repeat;
	background-position: center;
    background-attachment: fixed;
}
/******* aerospace *******/
#aerospace {
	background-color: white;
    min-height: 100vh;
	padding-top: 10vh;
	/*
	background-image: url("dar-mondays-17.jpg");
	background-repeat: no-repeat;
	background-position: center;
    background-attachment: fixed;*/
}
/******* video games ******/
#videogames {
	background-color: white;
	min-height: 100vh;
	padding-top: 10vh;
}

#videogames .row:nth-child(1) {
	margin-bottom: 20px;
}
#videogamesimage {
	background-image: url("morningnews.jpg");
}

#arena {
	border: 1px solid black;
	/*border-radius: 25px;*/
	max-height: 80vh;
	cursor: url('Pac-Man-Ghost.png'), auto;
	height: 30vh;
	box-shadow: 0 3px 15px hsla(0,0%,71.4%,.5);
}

#arenatitlebox {
	text-align: center;
	font-family: Petyka;
	margin: auto;
	position: relative;
	width: 300px;
}

#arenacontainer {
	color: black;
}

.videoGameProjectBox {
	border: 3px solid black;
	/*border-radius: 25px;*/
	display: inline-block;
}

#gameProjects {
	/*max-height: 80vh;
	overflow: scroll;*/
}
/************** SIDE BAR *************/



/************ THIS BOX FADES OUT TO REVEAL THE BACKGROUND *************/
#fadeBox {
	background-color: black;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	height: 100vh;
    animation: cinematicFadeOut 8s linear;
    animation-delay: 6s;
    animation-iteration-count: 1;
}

.opaque {
    opacity: 0;
}
  

@keyframes cinematicFadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes cinematicFadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}

/*********** Background layer *********/
#background {
	background-image: url("titanfall.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
    background-attachment: fixed;
    background-color: black;
}
	
	
