@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

/*html{
  background-color:#000;
  border-bottom:solid 5px blue;
  border-top:solid 5px blue;
  overflow-x:hidden;
  padding-bottom:142px;
}

p{
  color:#FFF;
  font: 50px 'Press Start 2P',  cursive;
  margin:200px 139px;
  position:absolute;
  text-align:center;
}
*/
.pacman{
  /*margin: 20px 20px 65px 15px;*/
  position: absolute;
  border: 1px solid black;
}

.pacman-top{
  background-color: black;
  /*height:100px;
  width:200px;*/
  height:25px;
  width:50px;
  border-radius:100px 100px 0 0;
  animation: spin1 0.5s infinite linear;
}

.pacman-bottom{
background-color:black;
  /*height:100px;
  width:200px;*/
  height:25px;
  width:50px;
  border-radius:0 0 100px 100px;
  animation: spin2 0.5s infinite linear;
}

.feed {
margin-top: -100px;
margin-left:15px;
width: 15px;
height: 15px;
border-radius: 30%;
/* -moz-animation: eat .75s linear 0s infinite;
-webkit-animation: eat .75s linear 0s infinite;
animation: eat .75s linear 0s infinite;*/
}   

#centerDot {
  width: 12px;
  height: 12px;
  background-color: red;
  position: absolute;
}

#positionDot {
  width: 12px;
  height: 12px;
  background-color: blue;
  position: absolute;
}
/* Animation*/

@keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}
  
}
@keyframes spin2 {
	0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}	
}

@-moz-keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}
  
}
@-moz-keyframes spin2 {
	0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}	
}

@-webkit-keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}
  
}
@-webkit-keyframes spin2 {
	0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}	
}

@keyframes eat {
	0% { box-shadow: 
      100px 65px 0 0 white, 
      300px 65px 0 0 white, 
      500px 65px 0 0 white, 
      700px 65px 0 0 white,
      900px 65px 0 0 white, 
      1100px 65px 0 0 white, 
      1300px 65px 0 0 white;}
  
100% { box-shadow: 
      0px 65px 0 0 white, 
      100px 65px 0 0 white,
      300px 65px 0 0 white, 
      500px 65px 0 0 white, 
      700px 65px 0 0 white, 
      900px 65px 0 0 white, 
      1100px 65px 0 0 white;}
}



@-moz-keyframes eat {
	0% { box-shadow: 
      100px 65px 0 0 white, 
      300px 65px 0 0 white, 
      500px 65px 0 0 white, 
      700px 65px 0 0 white,
      900px 65px 0 0 white, 
      1100px 65px 0 0 white, 
      1300px 65px 0 0 white;}
  
100% { box-shadow: 
      0px 65px 0 0 white, 
      100px 65px 0 0 white,
      300px 65px 0 0 white, 
      500px 65px 0 0 white, 
      700px 65px 0 0 white, 
      900px 65px 0 0 white, 
      1100px 65px 0 0 white;}
}



@-webkit-keyframes eat {
	0% { box-shadow: 
      100px 65px 0 0 white, 
      300px 65px 0 0 white, 
      500px 65px 0 0 white, 
      700px 65px 0 0 white,
      900px 65px 0 0 white, 
      1100px 65px 0 0 white, 
      1300px 65px 0 0 white;}
  
100% { box-shadow: 
      0px 65px 0 0 white, 
      100px 65px 0 0 white,
      300px 65px 0 0 white, 
      500px 65px 0 0 white, 
      700px 65px 0 0 white, 
      900px 65px 0 0 white, 
      1100px 65px 0 0 white;}
}

