body {
    margin: 0;
    padding: 0;
}

h5 {
    margin-bottom: 0px;
}
h6 {
    margin-bottom: 10px;
    /*padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: rgba(0,0,0,0.6);
    padding-left: 15px;*/
}
#header {
    height: 200px;
    background-color: rgba(0,0,0,.6);
}

#workhistory li {
    font-size: 0.9rem;
}