@font-face {
	font-family: "Blair ITC";
	src: url("fonts/blairITC.otf");
	src: url("fonts/blairITC.otf") format("opentype");
}

@font-face {
	font-family: "Rubik";
	src: url("fonts/Rubik-Regular.ttf");
	src: url("fonts/Rubik-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Montserrat";
	src: url("fonts/Montserrat-Regular.ttf");
	src: url("fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Petyka";
	src: url("fonts/Petyka.ttf");
	src: url("fonts/Petyka.ttf") format("truetype");
}

body {
    margin: 0;
    padding: 0;
}

h5 {
    margin-bottom: 2px;
}
h6 {
    margin-bottom: 10px;
    /*padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: rgba(0,0,0,0.6);
    padding-left: 15px;*/
}
#header {
    padding-bottom: 20px;
}

#workhistory li {
    font-size: 0.9rem;
}