html, body {
	margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: -2;
    position: relative;
}

.block {
	width: 60px;
    height: 60px;
	background-color: white;
	border: 1px solid #eee9e9;
	
}

#background {
	margin-left: auto;
	margin-right: auto;
	width: 1180px;
	z-index: -1;
	position: fixed;
	top: 0;
	left: 40;
	background-color: black;
}

#main_body {
    z-index: 0;
    width: 100%;
    height: 100%;
}

.column {
	display: inline-block;
	margin-left: -4px;
	overflow: hidden;
}

.enable {
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 1s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
	0%	{transform: rotateY(0deg); background-color: white;
	transform: none;
    transition-property: background-color,transform;
    transition-duration: 12s;}
	50%	{transform: rotateY(90deg); background-color: #cdc8b1;
	transition-property: background-color,transform;
	transition-duration: 1s;}
    100% {transform: rotateY(180deg); background-color: white;
	transform: none;
    transition-property: background-color,transform;
    transition-duration: 12s;}
}

/* Standard syntax */
@keyframes example { 
	0%	{transform: rotateY(0deg); background-color: white;
	transform: none;
    transition-property: background-color,transform;
    transition-duration: 12s;}
	50%	{transform: rotateY(90deg); background-color: #cdc8b1;
	transition-property: background-color,transform;
	transition-duration: 1s;}
    100% {transform: rotateY(180deg); background-color: white;
	transform: none;
    transition-property: background-color,transform;
    transition-duration: 12s;}
}

